<h2><%= l(:label_confirmation) %></h2>
<div class="warning">
  <p><%= l(:text_scm_repository_created_by_scm) %></p>
  <p><%= l(:text_scm_repository_destroy_confirmation) %></p>
  <p>
    <% if @project.respond_to?(:repositories)
         path = repository_path(@repository)
         method = :delete
       else
         path = { :controller => 'repositories', :action => 'destroy', :id => @project }
         method = :post
       end %>
    <% form = form_tag(path, :method => method) do %>
      <%= hidden_field_tag('confirm', 1) %>
      <label><%= check_box_tag('confirm_with_scm', 1) %> <%= l(:general_text_Yes) %></label>
      <%= submit_tag(l(:button_delete)) %>
    <% end %>
    <%= form if Rails::VERSION::MAJOR >= 3 %>
  </p>
</div>
